<div class="container">
  <br />
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a [routerLink]="['/instructor-list']">Instructors</a></li>
      <li class="breadcrumb-item active" aria-current="page">Create</li>
    </ol>
  </nav>

  <h2>Create Instructor</h2>

  <div class="form-row" *ngIf="showMsg">
    <div class="alert alert-{{ type }} col-md-12" role="alert">
      {{ msg }}
    </div>
  </div>

  <form #instructorForm="ngForm">

    <div class="form-row">
      <div class="col-md-4">
        <label>LastName:</label>
        <input type="text" id="LastName" name="LastName" placeholder="Enther the LastName" class="form-control"
          #LastName [(ngModel)]="instructor.LastName" />
      </div>
      <div class="col-md-4">
        <label>FirstMidName:</label>
        <input type="text" id="FirstMidName" name="FirstMidName" placeholder="Enther the FirstMidName"
          class="form-control" #FirstMidName [(ngModel)]="instructor.FirstMidName" />
      </div>
      <div class="col-md-4">
        <label>HireDate:</label>
        <input type="date" id="HireDate" name="HireDate" placeholder="Enther the HireDate" class="form-control"
          #HireDate [(ngModel)]="instructor.HireDate" autocomplete="off" />
      </div>

    </div>
    <br>
    <div class="btn-group" role="group">
      <button class="btn btn-outline-primary" (click)="save()">Save</button>
      <a class="btn btn-outline-primary" [routerLink]="['/instructor-list']">Back</a>
    </div>
  </form>

</div>